
.card{
    background-color:whitesmoke;
    width :340px;
    margin:auto;    
    height:400px;
    border-radius:10px;

    
        
}

#todoAddFormDiv {
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
}
h4 {
    text-align: center;
    padding: 20px;
}
input{
    border-radius:10px;
}
#huhu {
    display: flex;
    justify-content: center;
    align-items: center;
}

